@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FontLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dddddd;
    color: rgba(0,0,0,1);
}

div#interface{
    width: 900px;
    margin: 1%; 
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 10px;
}

header#cabecalho img#icone{
    position: absolute;
    top: 75px;
    left: 1045px;
}

header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 150px;
    background-image: url("../_imagens/glass-logo-peq.jpg");
    background-repeat: no-repeat;
    background-position: 0px 80px;
}

header#cabecalho h1{
    font-family: 'FontLogo', Helvetica, sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}

p{
    text-align: justify;
    text-indent: 50px;
}

/* Formatação da imagens com legendas */

figure.foto-legenda{
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 4px black;
    position: relative;
    display: inline-block;
    margin: 0%
}

figure.foto-legenda img{
    width: 483px;
}

figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 0.5s;
}

figure.foto-legenda:hover figcaption{
    opacity: 1;
}

/* Formatação do Menu */

nav.Menu{
    display: block;
}

nav.Menu ul{
    position: absolute;
    top: -20px;
    left: 580px;
}

nav.Menu li{
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 1px;
    transition: 0.7s;
}

nav.Menu li:hover{
    background-color: #fccccc;
}

nav.Menu a:hover{
    color: white;
}

nav.Menu ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

nav.Menu h1{
    display: none;
}

section#corpo{
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

section#conteudo{
    width: 1000px;
    margin: auto;
}

iframe#frame-spec{
    width: 380px;
    height: 280px;
    border: none;
    overflow: hidden;
}

article#noticia-principal h2{
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 5px;
    margin: 10px 0px 10px 0px ;
}

header#cabecalho-artigo h1{
    font-family: 'FontLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

header#cabecalho-artigo h2{
    font-size: 13pt;
    color: #cecece;
    background-color: white;
    margin: 0px;
}

header#cabecalho-artigo h3{
    font-size: 12px;
    color: #606060;
}

header#cabecalho-artigo h3.charlie{
    text-align: right;
}

table#tabela{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabela td{
    border: 1px solid #606060;
    padding: 10px;
    text-align:center;
    vertical-align: middle;
}

table#tabela td.alpha{
    text-align: right;
    background-color: #606060;
    color: #ffffff;
    vertical-align: top;
    font-weight: bold;
}

table#tabela td.beta{
    text-align: left;
    background-color: #999999;
}

table#tabela caption{
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#tabela caption span{
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

aside#lateral{
    display: block;
    width: 350px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

aside#lateral h1{
    font-family: 'FontLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
}

aside#lateral h2{
    background-color: #606060;
    color: #ffffff;
    padding: 5px;
}

footer#rodape{
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p{
    text-align: center;
}

footer#rodape a{
    text-decoration: none;
    color: black;
}

ul#album-fotos{
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

ul#album-fotos li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid rgb(255, 255, 255);
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

ul#album-fotos li span{
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0,0,0,0.3);
    font-size: 9pt;
    line-height: 360px;
    padding: 5px;
    transition: 0.5s;
}

ul#album-fotos li:hover span{
    opacity: 1;
}

ul#album-fotos li#foto-01{
    background: url('../_imagens/galeria-01.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    transition: 0.3s;
}

ul#album-fotos li#foto-01:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto-02{
    background: url('../_imagens/galeria-02.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    transition: 0.3s;
}

ul#album-fotos li#foto-02:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto-03{
    background: url('../_imagens/galeria-03.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    transition: 0.3s;
}

ul#album-fotos li#foto-03:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto-04{
    background: url('../_imagens/galeria-04.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    transition: 0.3s;
}

ul#album-fotos li#foto-04:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto-05{
    background: url('../_imagens/galeria-05.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    transition: 0.3s;
}

ul#album-fotos li#foto-05:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album-fotos li#foto-06{
    background: url('../_imagens/galeria-06.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
    transition: 0.3s;
}

ul#album-fotos li#foto-06:hover{
    background-position: 0px 0px;
    background-size: 200px 200px;
}

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url('../_imagens/radio-tv.png') no-repeat;
}

audio#musica{
    display: block;
    position: relative;
    left: 575px;
    top: 490px;
    width: 300px;
}

video#filme{
    display: block;
    position: relative;
    left: 100px;
    top: -10px;
    width: 430px;
    height: 330px;
}

input{
    font-family: sans-serif;
    font-weight: normal;
    font-size: 13pt;
    }

input:hover, textarea:hover{
    background-color: #dddddd;
    }

legend{
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
    }

fieldset{
    border-color: #cecece;
    margin: 20px;
}

fieldset#genero{
    width: 150px;
}

fieldset#usuario{
    background: url('../_imagens/icone-contato.png') no-repeat 95% 95%;
}

fieldset#endereco{
    background: url('../_imagens/icone-endereco.png') no-repeat 95% 95%;
}

fieldset#mensagem{
    background: url('../_imagens/icone-mensagem.png') no-repeat 95% 95%;
}

fieldset#pedido{
    background: url('../_imagens/icone-pagamento.png') no-repeat 95% 95%;
}